@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply break-words antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  word-wrap: break-word;
}

h1 {
  @apply text-3xl font-bold tracking-tight md:text-3xl;
  @apply my-5;
}

h2 {
  @apply text-3xl font-bold tracking-tight md:text-2xl;
  @apply my-5;
}


p {
  @apply text-gray-800;
  @apply break-all;
  @apply my-3;
  @apply mx-2;
  @apply text-lg
}

img {
  @apply m-5 flex justify-center items-center;
  @apply mx-auto;

}


img[alt='cat-in-a-server-room'],
img[alt='programmer-with-chrome'] {
  @apply mx-auto h-[350px] md:h-[600px];
}

img[alt='first-option-to-copy-response-gif'],
img[alt='second-option-to-copy-response-gif'] {
  @apply mx-auto;
}

[astro-icon] {
  @apply w-8;
}

.textlink {
  color: #088d11;
}

pre {
  @apply rounded p-4 my-2;
}
