---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<span>
		<img width="200" src="me.jpeg" class="float-left mx-5 rounded-md"/>
	</span>
		
	<div class="relative mx-12 flex left-0 w-120 flex-col items-center justify-center">
		<h1 class="text-4xl">
			Coding is <span class="font-bold">my life</span>.
		</h1>

		<div class="relative">
			<p class="p-2 text-lg">
				Nadav is not only a "programmer", as you may well know. Nadav is
				<span class="font-bold text-primary">the programmer</span>. <br />
				Usually, when people speak about programming, they don't mention Nadav. This is 
				obviously wrong. Now, when you think about programming, you should think Nadav.
				This way of thinking has brought many employers forward for years on end. It is said 
				that Elon Musk had the same thought. Before coming up with paypal or something.
				<br />
				Now, What does it mean to <span class="italic">think</span>?
				Thinking
			</p>
			<p class="p-2 text-lg">
				Another thing to think about is this.
			</p>
		</div>
		<h2 class="text-xl font-bold">
			And what do we know about thinking?
		</h2>
		<div class="relative">
			<p class="p-2 text-lg">
				We know nothing, i'll tell you that. We know less than Jon Snow. Which is nothing, beacuse
				it is known that Jon Snow knows nothing. Actually, it means we know less than nothing.
			</p>
		</div>
		<div class="relative">
			<h2 class="text-xl font-bold">
			How about som graphs?
			</h2>
			<img width=400 src="periodic.png" />
			<p class="p-2 text-lg">
				Here are dem graphs for ya. Yeah they good graphs aint them?
			</p>
		</div>
	</div>
</Layout>