---
import Layout from "../layouts/Layout.astro";
import portrait from "/me.jpeg";
import Card from "../components/Card.astro";
---

<Layout title="Nadav Port | Home">
	<main>
		<div class="flex flex-col-reverse md:flex-row justify-center items-center">
			<div class="w-[350px] md:w-[550px]">
				<h1 class="font-bold text-3xl md:text-5xl tracking-tight mb-1 glitch">
					Nadav Port
				</h1>
				<h2 class="text-2xl mt-2 glitch">
					Maths postgraduate embarking on a quantitative finance career
				</h2>
				<p id="anim-p" class="mt-4 text-left text-xl">
					I am a postgraduate student in Applied Mathematics at Imperial College
					London, aiming to break into the world of quantitative finance. I am
					interested in <strong>numerical implementation</strong> of mathematical models and <strong>quantitative research</strong>.
					I enjoy the process of turning abstract maths to practical, executable, production-quality code. </br>
					Although I created this website, I am no frontend developer!
				</p>
				<!-- might need work on the size of the god damn picture. All of the w-[something] and md:w-[something] -->
			</div>
			<img
				id="pfp-1"
				class="mb-10 md:mb-0 h-[300px] w-[215px] md:h-[340px] md:w-[243px] rounded-full ml-0 md:ml-10"
				src={portrait}
				alt="Nadav Port"
			/>
		</div>

		<div class="flex justify-center items-center">
			<p class="mt-28 mb-0">
				<h2 class="text-4xl font-bold">Past Projects</h2>
			</p>
		</div>
		<div class="flex flex-col-reverse md:flex-row justify-center items-center">
			<div class="w-10/12">
				<div
					class="grid grid-cols-1 gap-y-5 md:grid-cols-3 md:gap-y-8 md:gap-x-4"
				>
					<Card
						title="Fluid simulation using Python"
						image="/projects_media/fluid-simulation/streamlines.gif"
						description="Simulating complex function contours to create 2D fluid flow simulations using Sympy and Manim!"
						link="/projects/fluid-simulation"
					/>

					<Card
						title="Numerical Analysis of Biological PDEs"
						image="/projects_media/actin-cortex/poly_depoly.jpg"
						description="Conducting both numerical and mathematical analyses, I explored a model depicting a biological process with unconventional boundary conditions. Employing finite difference methods, I crafted a suitable numerical scheme and implemented it using Numpy."
						link="/projects/actin-cortex"
					/>

					<Card
						title="Mathematical Modeling of Battery Phase Transition"
						image="/projects_media/nickel-hydroxide/nickel.jpg"
						description="Collaborating with my advisor, we developed a mathematical model capturing the unique phenomenology of phase transition in a nickel-hydroxide electrode within a battery. I conducted in-depth analyses using Matlab and Python."
						link="/projects/nickel-hydroxide"
					/>
					<Card
						title="Deep Learning Feed-Forward Network"
						image="/projects_media/feed-forward/feed-forward.png"
						description="Implemented a feed-forward deep learning network strictly in NumPy, following backpropagation straight from the math. I initiated, trained, and analyzed the network's performance, specifically its ability to recognize MNIST digits and polygon edges."
						link="/projects/feed-forward"
					/>

					<Card
						title="Analysis of Chaos in Chemical Reactions"
						image="/projects_media/wr-chaos/chaos.png"
						description="For the final project in a Nonlinear Dynamics module, I analyzed a chaotic system of equations based on the Willamoski-Rossler equations. Exploring numerous parameters, I selected a few and detailed their influence on the system."
						link="/projects/wr-chaos"
					/>
					<Card
						title="Setting Up Real-Time Data Science Workflow Tool"
						image="/projects_media/argo/argo.jpg"
						description="During my army service, I focused on real-time, continuous data processing. In this project, I configured and tested the 'Argo Workflows' workflow/pipeline programming tool on our Kubernetes cluster. I found the software valuable and documented its basic usage."
						link="/projects/argo"
					/>

					<Card
						title="Generic Computer Networking Security Layer in Openshift"
						image="/projects_media/security_layer/security_layer.jpg"
						description="Developed a generic networking security layer utilizing NGINX and the OIDC protocol for applications running on OpenShift. The objective was to provide OIDC protection without developers needing to implement it directly into their code."
						link="/projects/security_layer"
					/>
				</div>
			</div>
		</div>
	</main>
</Layout>
