---
import Layout from "../layouts/Layout.astro";
import portrait from "/me.jpeg";
---

<Layout title="Nadav Port | Home">
  <main>
    <div class="flex flex-col-reverse md:flex-row justify-center items-center">
      <div class="w-[350px] md:w-[450px]">
        <svg class="absolute h-full w-full overflow-visible">
          <defs>
            <linearGradient id="gradient" x1="20%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" style={{ stopColor: "#DC3A2B", stopOpacity: 1 }}
              ></stop>
              <stop
                offset="100%"
                style={{ stopColor: "#E18510", stopOpacity: 1 }}></stop>
            </linearGradient>
          </defs>
          <path
            id="border-path"
            fill="none"
            stroke="url(#gradient)"
            stroke-width="4"></path>
        </svg>

        <h1 class="font-bold text-3xl md:text-5xl tracking-tight mb-1 glitch">
          Nadav Port
        </h1>
        <h2 class="text-lg mt-2 glitch">
          Math masters student looking for a new financial journey!
        </h2>
        <p id="anim-p" class="mt-4 text-left">
          Welcome to my little corner of the web! I am *not* a civil engineer
          graduated from National Autonomous University of Mexico (UNAM) who
          decided to break into tech in his late 20s. I am *not* interested in <strong
            >web developement</strong
          >, <strong>UI/UX design</strong> and <strong>data analysis.</strong>
        </p>
        <!-- might need work on the size of the god damn picture. All of the w-[something] and md:w-[something] -->
      </div>
      <img
        id="pfp-1"
        class="mb-10 md:mb-0 h-[200px] w-[150px] md:h-[340px] md:w-[255px] rounded-full ml-0 md:ml-10"
        src={portrait}
        alt="Nadav Port"
      />
    </div>

    <div class="flex justify-center items-center my-10 md:my-16">
      <div class="w-[350px] md:w-[740px]">
        <h2 class="text-3xl font-bold">Projects</h2>
        <p class="mt-4 text-left">
          Over my years in acedemia and army service I had completed quite a few
          projects. The projects regard a viraty of STEM disiplens, including
          numerical anaylsis of PDE's, mathematical modelling, nonlinear
          dynamics, DevOps and computer networking, (basic) machine learning,
          and data science. The details of the projects are in the links below.
        </p>
        <div
          class="grid grid-cols-2 gap-y-5 md:grid-cols-3 md:gap-y-8 md:gap-x-4 mt-10 ml-14"
        >
          <a href="/actin-cortex">Actin cortex</a>
          <span>Hi</span>
          <span>Hi</span>
          <span>Hi</span>
          <span>Hi</span>
          <span>Hi</span>
        </div>
      </div>
    </div>
  </main>

  <!-- <style>
    #border-path {
      animation: draw 1s forwards 1s ease-out;
    }

    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
  </style> -->

  <script>
    function updatePath() {
      const textMain = document.querySelector("#anim-p") as HTMLElement;
      const path = document.querySelector("#border-path") as SVGPathElement;

      if (textMain && path) {
        path.setAttribute(
          "d",
          `M0,0 V${textMain.offsetHeight} H${textMain.offsetWidth} v${
            textMain.offsetHeight / 2
          }`
        );
        const pathLength = path.getTotalLength();

        path.style.strokeDasharray = pathLength.toString();
        path.style.strokeDashoffset = pathLength.toString();
      }
    }
    // Update the path when the page loads
    window.addEventListener("DOMContentLoaded", updatePath);
    // Update the path when the window is resized
    window.addEventListener("resize", updatePath);
  </script>
</Layout>
